/* تنظیمات اولیه و استاندارد */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* فونت فارسی */
body {
    font-family: 'Vazir', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    direction: rtl; /* راست‌چین کردن تمام متن */
    text-align: right; /* راست‌چین کردن تمام متن */
}
/* هدر */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* ویژگی‌ها */
#features {
    padding: 40px 20px;
    background-color: #fff;
    text-align: right; /* راست‌چین کردن محتوا */
}

#features h2 {
    margin-bottom: 20px;
    color: #4CAF50;
}

#features ul {
    list-style: none;
    padding: 0;
}

#features ul li {
    background-color: #f0f0f0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

/* فوتر */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
