#desktop {
    background-color: #f1f1f1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#taskbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#start-menu {
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    width: 200px;
}

#start-menu ul {
    list-style: none;
    padding: 0;
}

#start-menu li {
    padding: 10px;
    cursor: pointer;
}

#start-menu li:hover {
    background-color: #ddd;
}

.window {
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    top: 100px;
    left: calc(100% - 350px);  /* سمت راست قرار گرفتن */
    z-index: 10;
}

.window-header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.window-content {
    padding: 20px;
}

.window-right {
    left: calc(100% - 350px);  /* قرار گرفتن پنجره در سمت راست */
    top: 60px;  /* فاصله از بالا */
}
